@import "./assets/theme.scss";

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
        sans-serif;
    background-color: $macaroni-and-cheese;

    // custom scrollbar for the body
    &::-webkit-scrollbar {
        background-color: rgba(211, 211, 211, 0.7);
        width: 10px;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $pastel-blue;
        border-radius: 10px;
    }
}
